.gcloudignore
.git
.gitignore

# Ignorar node_modules e arquivos de build locais
node_modules/
.next/
out/

# Ignorar todos os arquivos env por padrão
.env*
# MAS permitir explicitamente o .env.production para o build no Cloud Build
!.env.production
